/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your custom animations */
@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }
}

